<mat-toolbar color="primary" *ngIf="categorias">
  <button mat-button [matMenuTriggerFor]="menu">
    Categorias
  </button>
  <mat-menu class="mat-menu-content" #menu="matMenu">
    <button *ngFor="let categoria of categorias" mat-menu-item (click)="obtenerProductosCategoria(categoria.id)">
      {{categoria.name}}
    </button>
  </mat-menu>
  <span>Mercado libre - Empresariales</span>
</mat-toolbar>

<mat-progress-bar *ngIf="cargando" color="accent" mode="query"> </mat-progress-bar>

<form class="mat-form" [formGroup]="formBusqueda" (submit)="buscarProductos()">

  <mat-form-field class="mat-field-td">
    <mat-select [disabled]="cargando" formControlName="sitio" placeholder="Pais">
      <mat-option *ngFor="let sitio of sitios" [value]="sitio.id">{{sitio.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="mat-field-doc">
    <input matInput [disabled]="cargando"formControlName="producto" placeholder="Producto">
  </mat-form-field>

  <button [disabled]="cargando && !formBusqueda.valid" mat-raised-button color="primary" type="submit">Buscar</button>
</form>

<div *ngIf="productos">
  <mat-card *ngFor="let producto of productos" style="margin: 5% 10%" (click)="mostrarDetalles(producto)">
    <mat-card-title>{{producto.title}}</mat-card-title>
    <mat-card-content>
      <img [src]="producto.thumbnail">
    </mat-card-content>
    <mat-card-footer>Precio: {{producto.price}}</mat-card-footer>
  </mat-card>
</div>
